.hello{
  display: block;
  &--bye{
    font-family: "Droid sans", "Lucida Grande", sans-serif;
  }
  ul{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    li{
      font-style: italic;
      a{
        color:white;
        text-decoration: none;
      }
    }
  }
}